<header class="header">
  <div class="wrapper">

    <div class="left">
      <H1>Welkom @ Gridz</H1>
      <p>Geopende Vakken: {{nButtonsClicked}}</p>
    </div>
    <div class="center">
      <th></th>
      <table id="table">
        <tr>
          <td>
            <label class="label-margin" for="width">Breedte Grid: </label>
          </td>
          <td>
            <input
              type="text"
              id="width"
              #width
              placeholder="breedte invoeren aub">
          </td>
        </tr>
        <tr>
          <td>
            <label class="label-margin" for="height">Hoogte Grid: </label>
          </td>
          <td>
            <input
              type="text"
              id="height"
              #height
              name="height"
              placeholder="hoogte invoeren aub">
          </td>
        </tr>
        <tr align="center" >

            <button id="set-btn" type="button" (click)="setButtonClicked(width.value,height.value)">Set</button>

        </tr>
      </table>
    </div>
    <div class="right">
      <p>Bas Brunink</p>
    </div>
  </div>

</header>
