@import "~src/styles";
.grid {
  background-image: url("~src/assets/img/EagleScience_Logo_on_bw-01.png");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 1rem;
  background-color: lightgray;
  height: 100vh;
}
.gridText {
  margin-top: 20px;
}
