@import "~src/styles";
$eagleImageSize: 100px;

.cellactive {
  background-color: #718faa;
  border-radius: 25%;
  padding: $cell_padding $cell_padding;
  margin: $cell_margin;
}

.eagleLogoinActive{
  width: $eagleImageSize;
  height: auto;
  visibility: hidden;
}
.eagleLogoActive{
  width: $eagleImageSize;
  height: auto;
}

